{% extends 'base.html' %}

{% block title %}Groups{% endblock title%}

{% block content %}

<h2>You can filter by faculty</h2>
<form action="{% url 'groups' %}" method="get">
    <input name="faculty">
    <input name="submit" type="submit">
</form>

<table align="center" bgcolor="#F8FFE4 ">
    <caption style="font-size:28px">List of all groups</caption>
    <tr>
        <th>ID</th>
        <th>CODE</th>
        <th>NUMBER OF STUDENTS</th>
        <th>STAROSTA</th>
        <th>CURATOR</th>
        <th>FACULTY</th>
        <th>DEPARTMENT</th>
        <th>EDIT</th>
    </tr>
    {% for group in groups %}
    <tr>
        <td> {{ group.id }} </td>
        <td> {{ group.gr_name}} </td>
        <td> {{ group.number_of_students }} </td>
        <td> {{ group.starosta.first_name }} {{ group.starosta.last_name }}</td>
        <td> {{ group.curator }} </td>
        <td> {{ group.faculty }} </td>
        <td> {{ group.department }} </td>
        <td> <a href="{% url 'group-edit' group.id%}">EDIT</a> </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}