{% extends 'base.html' %}

{% block title %}List of students{% endblock title %}

{% block content %}
<form action="{% url 'students' %}" method="get">
    <input name="first_name">
    <input name="submit" type="submit">
</form>
<p></p>
<form align="left"><button formaction="{% url 'students-add' %}">ADD STUDENT</button></form>

<table border="1" bgcolor="#E6DAFD" align="center">
     <caption style="font-size:28px">List of all students</caption>
    <tr>
        <th>ID</th>
        <th>GROUP</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>BIRTH DATE</th>
        <th>E-MAIL</th>
        <th>TELEPHONE</th>
        <th>ADDRESS</th>
        <th>EDIT</th>
    </tr>
    {% for student in students %}
    <tr>
        <td> {{ student.id }} </td>
        <td> {{ student.group_id.gr_name }} </td>
        <td> {{ student.first_name }} </td>
        <td> {{ student.last_name }} </td>
        <td> {{ student.birth_date }} </td>
        <td> {{ student.email }} </td>
        <td> {{ student.telephone }} </td>
        <td> {{ student.address }} </td>
        <td><form><button formaction="{% url 'students-edit' student.id %}">EDIT</button></form></td>
    </tr>
    {% endfor %}
</table>

{% endblock content %}